<!-- nav bar -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    
  
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="dataBinding" routerLinkActive="active">Data binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="pipes" routerLinkActive="active">pipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="directives" routerLinkActive="active">directives</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="DI" routerLinkActive="active">Dependency-Injection & Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="http" routerLinkActive="active">HTTP-client</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="reactiveForms" routerLinkActive="active">ReactiveForms</a>
          </li>
      </ul>
    </div>
  </nav>

  <p class="text text-center text-primary">welcome to Angular</p>


  <div class="container">
     <!-- place holder of selectors -->
     <router-outlet></router-outlet>
  </div>





<!--








<app-reactiveforms></app-reactiveforms>




 -->
